# ANALYZE INTERNATIONAL DEBT STATISTICS

## Problem Statement:

It's not that we humans only take debts to manage our necessities. A country
may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org/en/home) is the organization that provides debt to countries. 

In this project, you are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. You are going to find the answers to questions like: 
- What is the total amount of debt that is owed by the countries listed in the dataset?  
- Which country owns the maximum amount of debt and what does that amount
look like? 
- What is the average amount of debt owed by countries across different debt
indicators? 

The data used in this project is provided by [The World Bank](https://www.worldbank.org/en/home). It contains both national and regional debt statistics for several countries across the globe as recorded from 1970 to 2022.


## Project Tasks

- 1. The World Bank's international debt data
- 2. Finding the number of distinct countries
- 3. Finding out the distinct debt indicators
- 4. Totaling the amount of debt owed by the countries
- 5. Country with the highest debt
- 6. Average amount of debt across indicators
- 7. The highest amount of principal repayments
- 8. The most common debt indicator
- 9. Other viable debt issues and conclusion

### Importing Libraries

In [118]:
import pandas as pd

In [6]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Loading Dataset

In [38]:
df = pd.read_csv("/content/IDS_ALLCountries_Data.csv")

In [39]:
# Printing Top 5 Rows

df.head()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Printing Total Rows and Columns of Dataset

df.shape

(77389, 65)

In [41]:
# Printing Top 5 Rows

df.tail(10)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
77379,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59546531.2,313844257.7,452147691.9,7.026683e+08,612031182.5,695678932.8,767662327.6,8.665661e+08,8.595778e+08,8.291136e+08,1.179856e+09,1.202900e+09,1.270278e+09,1.266672e+09,1.278963e+09,1.195801e+09,1.146741e+09,1.000343e+09,1.138038e+09,1.114059e+09,9.690731e+08,688871551.9,449200672.3,481077943.8,391047273.9,272461905.1,480395735.0,333538695.3,196596928.3,123539203.2,332098373.0,622824485.2,561132623.8,898717987.2,967381217.3,789596408.0,1.575563e+09,1.451135e+09,1.336057e+09,1.288433e+09,1.242814e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77380,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,26025000.0,488989444.6,526351469.0,2.975124e+08,199719013.5,168343383.4,155779136.5,3.001045e+08,2.796862e+08,1.930708e+08,1.148956e+08,3.369676e+08,1.457997e+08,1.469720e+08,1.680782e+08,1.073525e+08,7.566196e+07,1.571163e+08,1.640322e+08,8.801637e+07,7.393219e+07,53473634.1,43679298.3,23822537.5,21543187.2,15810561.3,17067179.6,16665189.3,16153752.9,16638692.9,14207927.7,9579117.5,9727435.4,8432930.3,22780392.8,16417395.3,1.629635e+07,1.668676e+07,1.654918e+07,1.653750e+07,1.696151e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77381,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,85571531.2,802833702.3,978499160.9,1.000181e+09,811750196.0,864022316.2,923441464.1,1.166671e+09,1.139264e+09,1.022184e+09,1.294752e+09,1.539868e+09,1.416078e+09,1.413644e+09,1.447041e+09,1.303153e+09,1.222403e+09,1.157459e+09,1.302070e+09,1.202075e+09,1.043005e+09,742345186.0,492879970.6,504900481.3,412590461.1,288272466.4,497462914.6,350203884.6,212750681.2,140177896.1,346306300.7,632403602.7,570860059.2,907150917.5,990161610.1,806013803.3,1.591859e+09,1.467822e+09,1.352606e+09,1.304971e+09,1.259775e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77382,Zimbabwe,ZWE,World,WLD,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43600000.0,41400000.0,2.001000e+08,256100000.0,264100000.0,233700000.0,1.564867e+08,7.024689e+07,2.923218e+07,6.891365e+06,0.000000e+00,2.161500e+08,2.815798e+08,3.759114e+08,4.608119e+08,4.372362e+08,3.852554e+08,4.071713e+08,3.829303e+08,2.939495e+08,274770190.4,294113118.7,316710730.0,309047437.0,125085422.6,128123730.4,134460312.0,129425807.6,542317089.1,528729079.6,527094857.9,520124286.6,519341900.0,486727497.2,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77383,Zimbabwe,ZWE,World,WLD,"Use of IMF credit, SDR allocations (DOD, curre...",DT.DOD.DSDR.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.399960e+07,1.328968e+07,12818646.0,13867104.0,15156894.0,15840702.0,14578554.0,15344880.0,16118550.0,15710754.0,426692113.1,419163645.2,417868073.7,418317168.9,419155660.0,394334303.1,377166763.0,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77387,Data from database: International Debt Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77388,Last Updated: 10/10/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Droping Unwanted Rows

df = df.drop(range(77384, 77389))

In [43]:
# Printing Last 5 Rows

df.tail()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
77379,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59546531.2,313844257.7,452147691.9,7.026683e+08,612031182.5,695678932.8,767662327.6,8.665661e+08,8.595778e+08,8.291136e+08,1.179856e+09,1.202900e+09,1.270278e+09,1.266672e+09,1.278963e+09,1.195801e+09,1.146741e+09,1.000343e+09,1.138038e+09,1.114059e+09,9.690731e+08,688871551.9,449200672.3,481077943.8,391047273.9,272461905.1,480395735.0,333538695.3,196596928.3,123539203.2,332098373.0,622824485.2,561132623.8,898717987.2,967381217.3,789596408.0,1.575563e+09,1.451135e+09,1.336057e+09,1.288433e+09,1.242814e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77380,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,26025000.0,488989444.6,526351469.0,2.975124e+08,199719013.5,168343383.4,155779136.5,3.001045e+08,2.796862e+08,1.930708e+08,1.148956e+08,3.369676e+08,1.457997e+08,1.469720e+08,1.680782e+08,1.073525e+08,7.566196e+07,1.571163e+08,1.640322e+08,8.801637e+07,7.393219e+07,53473634.1,43679298.3,23822537.5,21543187.2,15810561.3,17067179.6,16665189.3,16153752.9,16638692.9,14207927.7,9579117.5,9727435.4,8432930.3,22780392.8,16417395.3,1.629635e+07,1.668676e+07,1.654918e+07,1.653750e+07,1.696151e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77381,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,85571531.2,802833702.3,978499160.9,1.000181e+09,811750196.0,864022316.2,923441464.1,1.166671e+09,1.139264e+09,1.022184e+09,1.294752e+09,1.539868e+09,1.416078e+09,1.413644e+09,1.447041e+09,1.303153e+09,1.222403e+09,1.157459e+09,1.302070e+09,1.202075e+09,1.043005e+09,742345186.0,492879970.6,504900481.3,412590461.1,288272466.4,497462914.6,350203884.6,212750681.2,140177896.1,346306300.7,632403602.7,570860059.2,907150917.5,990161610.1,806013803.3,1.591859e+09,1.467822e+09,1.352606e+09,1.304971e+09,1.259775e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77382,Zimbabwe,ZWE,World,WLD,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43600000.0,41400000.0,2.001000e+08,256100000.0,264100000.0,233700000.0,1.564867e+08,7.024689e+07,2.923218e+07,6.891365e+06,0.000000e+00,2.161500e+08,2.815798e+08,3.759114e+08,4.608119e+08,4.372362e+08,3.852554e+08,4.071713e+08,3.829303e+08,2.939495e+08,274770190.4,294113118.7,316710730.0,309047437.0,125085422.6,128123730.4,134460312.0,129425807.6,542317089.1,528729079.6,527094857.9,520124286.6,519341900.0,486727497.2,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77383,Zimbabwe,ZWE,World,WLD,"Use of IMF credit, SDR allocations (DOD, curre...",DT.DOD.DSDR.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.399960e+07,1.328968e+07,12818646.0,13867104.0,15156894.0,15840702.0,14578554.0,15344880.0,16118550.0,15710754.0,426692113.1,419163645.2,417868073.7,418317168.9,419155660.0,394334303.1,377166763.0,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Printing Random 10 Rows

df.sample(10)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
26697,Ghana,GHA,World,WLD,"PS, multilateral (INT, current US$)",DT.INT.MLAT.PS.CD,2636000.0,2629000.0,2841000.0,3040000.0,3034000.0,2948000.0,3144000.0,3651791.7,6011014.5,9226621.6,10011474.4,10618635.5,1.159658e+07,1.644916e+07,1.088405e+07,1.437382e+07,1.909215e+07,2.391968e+07,3.003766e+07,3.072441e+07,2.958585e+07,3.742388e+07,4.153346e+07,4.122830e+07,3.582915e+07,4.025569e+07,4.258142e+07,4.045744e+07,3.819042e+07,3.895689e+07,3.864571e+07,3.259118e+07,3.411997e+07,3.151783e+07,3.782172e+07,4.161450e+07,2.937253e+07,1.695722e+07,1.838997e+07,1.983148e+07,2.159518e+07,2.540396e+07,2.885919e+07,3.062207e+07,3.398753e+07,3.533006e+07,4.134891e+07,4.483557e+07,5.170952e+07,5.211525e+07,6.000098e+07,7.390096e+07,7.555027e+07,7.456313e+07,7.322053e+07,7.124444e+07,6.789777e+07,6.359807e+07,5.935439e+07
41125,Lower middle income,LMC,World,WLD,"GG, commercial banks (AMT, current US$)",DT.AMT.PCBK.GG.CD,23041095.5,16641397.8,23408007.5,32514522.6,37943214.6,40604863.1,93873754.6,197888060.1,854632787.3,633048350.1,595892750.6,983024213.1,1.132398e+09,1.768710e+09,1.531880e+09,2.287009e+09,1.150601e+09,1.619071e+09,2.260513e+09,2.109211e+09,2.509498e+09,1.921779e+09,2.030113e+09,2.227494e+09,2.341188e+09,2.239282e+09,2.017627e+09,1.509629e+09,1.501561e+09,2.030636e+09,1.454205e+09,1.782630e+09,2.539768e+09,4.078795e+09,3.317966e+09,2.788903e+09,3.848764e+09,1.681139e+09,1.224605e+09,1.734536e+09,1.752288e+09,1.397148e+09,1.658554e+09,2.028734e+09,2.997598e+09,3.286324e+09,3.311194e+09,4.977712e+09,5.848072e+09,7.661294e+09,7.044788e+09,1.169524e+10,7.641882e+09,6.820504e+09,8.793586e+09,5.247429e+09,4.526081e+09,4.003024e+09,3.583758e+09
22827,Ethiopia,ETH,World,WLD,"CB, other private creditors (TDS, current US$)",DT.TDS.PROP.CB.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35575,Kosovo,XKX,World,WLD,"OPS, multilateral concessional (NFL, current US$)",DT.NFL.MLTC.OPS.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25007,Gabon,GAB,World,WLD,"PS, official creditors (TDS, current US$)",DT.TDS.OFFT.PS.CD,3903965.3,4444923.9,5185904.4,12877713.8,8104766.1,12778547.1,12899603.3,19201227.0,33385548.8,36241283.0,38108814.3,34676374.5,3.224309e+07,4.073793e+07,5.724516e+07,4.795866e+07,3.511518e+07,3.394426e+07,6.207660e+07,7.153392e+07,8.516377e+07,1.264912e+08,2.847692e+08,6.010234e+07,1.367052e+08,2.635634e+08,2.996232e+08,3.711116e+08,2.289116e+08,4.530196e+08,2.780560e+08,3.789958e+08,3.525140e+08,2.658421e+08,1.486551e+08,1.115263e+08,1.189186e+08,7.751606e+08,2.465219e+09,2.789228e+08,2.126383e+08,2.078617e+08,1.591636e+08,1.107964e+08,1.184184e+08,1.087125e+08,1.130485e+08,1.164795e+08,2.407204e+08,2.750090e+08,3.413262e+08,3.116313e+08,3.148471e+08,3.739013e+08,4.451522e+08,4.202659e+08,4.067392e+08,4.029710e+08,3.602306e+08
70036,Tunisia,TUN,World,WLD,"CB, multilateral concessional (DOD, current US$)",DT.DOD.MLTC.CB.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61829,Somalia,SOM,World,WLD,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,0.0,1567000.0,1399376.1,3315378.6,17278282.7,10426323.0,15214790.3,13677158.3,28204064.6,27318768.5,36269095.5,130949317.5,5.416353e+07,4.184800e+07,4.179157e+07,6.212081e+07,6.036017e+07,5.885800e+07,3.593736e+07,6.869803e+07,4.568253e+07,1.247492e+07,8.108570e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.451800e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19398,East Asia & Pacific (excluding high income),EAP,World,WLD,"CB, multilateral concessional (NTR, current US$)",DT.NTR.MLTC.CB.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.027000e+06,-1.022000e+06,-1.018000e+06,-1.013000e+06,-1.009000e+06,-1.004000e+06,NaN,NaN,NaN,NaN,NaN,NaN,-1.166400e+07,-2.100000e+06,1.323800e+07,3.552110e+08,7.991900e+07,1.759800e+08,3.682410e+08,6.303310e+08,3.558210e+08,3.196640e+08,3.853820e+08,2.019600e+08,9.416000e+07,4.987700e+07,1.915800e+07,1.343700e+07,1.181600e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34531,Kazakhstan,KAZ,World,WLD,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.625862e+06,1.548698e+07,5.909461e+07,6.259904e+07,8.832407e+07,1.013362e+08,1.071124e+08,1.238339e+08,1.113072e+08,1.038680e+08,1.046851e+08,9.854574e+07,1.015116e+08,7.111746e+07,7.440503e+07,6.574261e+07,5.804954e+07,5.403425e+07,6.130665e+07,7.531483e+07,6.911330e+07,5.775146e+07,6.158197e+07,1.117566e+08,1.697286e+08,2.306754e+08,2.838976e+08,2.115307e+08,1.227308e+08,1.285228e+08,1.214919e+08,1.073204e+08,8.763335e+07,7.450053e+07,6.645531e+07,5.883493e+07
63616,Sri Lanka,LKA,World,WLD,"PRVG, multilateral (AMT, current US$)",DT.AMT.MLAT.PRVG.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.shape

(77384, 65)

In [46]:
# Filling Null Values With 0

df = df.fillna(0)

In [47]:
df.sample(10)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
35397,Kosovo,XKX,World,WLD,"External debt stocks (% of exports of goods, s...",DT.DOD.DECT.EX.ZS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,1.474993e+01,1.266059e+01,1.108960e+01,5.391017e+01,6.214295e+01,1.406019e+02,1.039881e+02,8.833612e+01,1.115537e+02,1.201455e+02,1.149455e+02,1.299752e+02,1.159644e+02,1.113411e+02,8.980879e+01,9.259630e+01,1.540662e+02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66801,Tajikistan,TJK,World,WLD,"Multilateral debt service (TDS, current US$)",DT.TDS.MLAT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.210000e+05,4.050000e+05,8.590766e+05,1.348314e+06,10849243.5,1.128181e+07,5.974150e+06,6.313308e+06,2.066303e+07,2.400062e+07,2.343422e+07,2.351428e+07,2.318424e+07,2.379235e+07,3.177032e+07,5.060477e+07,5.418726e+07,4.954805e+07,4.286224e+07,5.439251e+07,5.490036e+07,7.369460e+07,7.268563e+07,8.333441e+07,95873234.0,131549119.8,141147145.1,162963345.7,142741572.2,130404092.1,126688825.5,123473583.6
44309,Mauritania,MRT,World,WLD,"PS, bilateral (NFL, current US$)",DT.NFL.BLAT.PS.CD,770537.6,2365612.3,938795.4,24609835.4,42498546.0,21555446.7,92562014.7,2.104241e+07,5.849568e+07,61049128.9,81446505.6,109839475.8,9.666532e+07,6.647156e+07,5.014619e+07,53773991.9,86995591.7,4.798614e+07,20522764.9,-1269736.3,9.432586e+06,7775232.1,1.473279e+07,5.351539e+07,5.179305e+06,-1.068684e+07,1.643738e+07,-1.435148e+07,-1.647777e+07,-1.083841e+07,-3.093562e+06,-13361498.6,-1.109694e+07,-1.131770e+07,-4.691457e+06,3.605722e+06,3.682726e+06,1.536140e+07,5.503342e+07,1.776029e+08,7.667309e+07,9.505928e+07,2.142393e+08,1.099128e+08,-3.406142e+07,4.056983e+08,3.574945e+07,-2.117415e+07,4.517777e+07,1.954864e+06,2.307542e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5155,Belize,BLZ,World,WLD,"CB, commercial banks (DIS, current US$)",DT.DIS.PCBK.CB.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+07,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+07,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47606,Mongolia,MNG,World,WLD,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,3.450000e+05,5.230000e+05,1.020000e+06,1.147000e+06,1.568000e+06,2.021000e+06,2.760623e+06,3.528340e+06,4.087082e+06,4097562.2,4.706473e+06,5.634155e+06,6.958395e+06,7.345694e+06,7.674823e+06,7.919559e+06,9.257122e+06,8.570159e+06,9.838924e+06,1.089320e+07,1.120348e+07,1.067662e+07,1.133861e+07,1.058812e+07,1.247771e+07,1.400717e+07,2.543508e+07,3.412185e+07,3.654667e+07,39381235.7,40560320.2,40646104.9,39642519.9,37972177.6,35677984.7,33112148.0,30237996.0
48629,Morocco,MAR,World,WLD,"OPS, bilateral (TDS, current US$)",DT.TDS.BLAT.OPS.CD,7985118.0,12685426.8,7702127.4,8114009.5,9896108.3,10209745.1,11001080.6,1.197180e+07,1.021653e+07,19123441.4,26335046.0,24304314.8,2.823880e+07,2.201490e+07,8.509851e+06,10946260.3,13096999.7,1.846418e+07,17122863.1,16759062.1,2.350256e+07,77285859.3,1.068231e+08,1.395434e+08,1.368876e+08,1.923367e+08,1.732412e+08,1.690247e+08,1.655187e+08,1.775427e+08,1.306486e+08,184807138.2,5.904484e+08,8.430817e+08,2.751315e+08,2.949353e+08,2.051805e+08,2.216082e+08,3.168247e+08,2.887063e+08,3.151623e+08,3.192073e+08,3.771194e+08,3.504106e+08,3.952732e+08,3.480742e+08,4.640354e+08,4.553327e+08,4.579340e+08,4.359988e+08,4.411792e+08,495020277.6,450062566.1,454452189.2,441488344.8,410515236.4,364477401.1,285845076.8,259547784.7
27837,Guatemala,GTM,World,WLD,"PS, multilateral (NTR, current US$)",DT.NTR.MLAT.PS.CD,13392000.0,11373000.0,9228000.0,16319000.0,15731000.0,8255000.0,17216000.0,4.121700e+07,5.613700e+07,70559000.0,42940000.0,63440000.0,5.773100e+07,-4.818000e+06,2.317800e+07,75427000.0,-19179000.0,-9.956400e+07,-19378000.0,-26892000.0,2.718000e+06,-99497000.0,-1.597670e+08,-1.161690e+08,4.268000e+06,-6.094600e+07,-8.590000e+05,6.059000e+06,7.327100e+07,1.277180e+08,-3.250000e+05,-15742000.0,1.209210e+08,-5.907500e+07,6.685000e+06,-1.020200e+08,2.953290e+08,2.920020e+08,1.631000e+06,3.878350e+08,4.421440e+08,-5.598300e+07,9.472800e+07,1.454990e+08,-3.443930e+08,3.012550e+08,-3.767820e+08,-5.061980e+08,-1.346620e+08,-5.253520e+08,-6.552400e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40185,Low & middle income,LMY,World,WLD,"PPG, bonds (NTR, current US$)",DT.NTR.PBND.CD,-30167349.4,36405347.8,81805240.3,-3354477.0,-47661196.6,-25678995.0,895958767.8,1.873980e+09,2.317097e+09,286481837.6,-23420759.9,376268855.3,3.358339e+09,-1.301258e+09,-1.612026e+09,-358463689.7,-782734294.2,-2.281086e+09,-1787552.0,-63961987.5,-2.466639e+09,-967126369.4,-5.290444e+09,4.119223e+09,3.835540e+09,-3.506391e+09,1.729098e+10,1.398877e+10,1.318487e+10,1.435732e+10,8.695157e+09,-220341432.9,-6.036026e+09,-4.826098e+09,3.351066e+09,-9.860449e+09,-2.357365e+10,-3.521621e+09,-2.048283e+10,4.490268e+08,3.607485e+10,4.564824e+10,1.100000e+11,4.639461e+10,7.339584e+10,3.239502e+10,4.534840e+10,1.440000e+11,9.974381e+10,1.060000e+11,1.030000e+11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65452,Sudan,SDN,World,WLD,"CB, bilateral (NTR, current US$)",DT.NTR.BLAT.CB.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10397,Burundi,BDI,World,WLD,"GG, bonds (NTR, current US$)",DT.NTR.PBND.GG.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
# Printing The Dataset Information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77384 entries, 0 to 77383
Data columns (total 65 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           77384 non-null  object
 1   Country Code           77384 non-null  object
 2   Counterpart-Area Name  77384 non-null  object
 3   Counterpart-Area Code  77384 non-null  object
 4   Series Name            77384 non-null  object
 5   Series Code            77384 non-null  object
 6   1970                   77384 non-null  float64
 7   1971                   77384 non-null  float64
 8   1972                   77384 non-null  float64
 9   1973                   77384 non-null  float64
 10  1974                   77384 non-null  float64
 11  1975                   77384 non-null  float64
 12  1976                   77384 non-null  float64
 13  1977                   77384 non-null  float64
 14  1978                   77384 non-null  float64
 15  1979                   77384 non-null  float64
 16  1980                   77384 non-null  float64
 17  1981                   77384 non-null  float64
 18  1982                   77384 non-null  float64
 19  1983                   77384 non-null  float64
 20  1984                   77384 non-null  float64
 21  1985                   77384 non-null  float64
 22  1986                   77384 non-null  float64
 23  1987                   77384 non-null  float64
 24  1988                   77384 non-null  float64
 25  1989                   77384 non-null  float64
 26  1990                   77384 non-null  float64
 27  1991                   77384 non-null  float64
 28  1992                   77384 non-null  float64
 29  1993                   77384 non-null  float64
 30  1994                   77384 non-null  float64
 31  1995                   77384 non-null  float64
 32  1996                   77384 non-null  float64
 33  1997                   77384 non-null  float64
 34  1998                   77384 non-null  float64
 35  1999                   77384 non-null  float64
 36  2000                   77384 non-null  float64
 37  2001                   77384 non-null  float64
 38  2002                   77384 non-null  float64
 39  2003                   77384 non-null  float64
 40  2004                   77384 non-null  float64
 41  2005                   77384 non-null  float64
 42  2006                   77384 non-null  float64
 43  2007                   77384 non-null  float64
 44  2008                   77384 non-null  float64
 45  2009                   77384 non-null  float64
 46  2010                   77384 non-null  float64
 47  2011                   77384 non-null  float64
 48  2012                   77384 non-null  float64
 49  2013                   77384 non-null  float64
 50  2014                   77384 non-null  float64
 51  2015                   77384 non-null  float64
 52  2016                   77384 non-null  float64
 53  2017                   77384 non-null  float64
 54  2018                   77384 non-null  float64
 55  2019                   77384 non-null  float64
 56  2020                   77384 non-null  float64
 57  2021                   77384 non-null  float64
 58  2022                   77384 non-null  float64
 59  2023                   77384 non-null  float64
 60  2024                   77384 non-null  float64
 61  2025                   77384 non-null  float64
 62  2026                   77384 non-null  float64
 63  2027                   77384 non-null  float64
 64  2028                   77384 non-null  float64
dtypes: float64(59), object(6)
memory usage: 38.4+ MB

In [49]:
df.head(3)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.25,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.25,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
# Selecting Numerical Values


num = df.select_dtypes(include=['float64'])

In [52]:
num.head()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
num.tail()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
77379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59546531.2,313844257.7,452147691.9,7.026683e+08,612031182.5,695678932.8,767662327.6,8.665661e+08,8.595778e+08,8.291136e+08,1.179856e+09,1.202900e+09,1.270278e+09,1.266672e+09,1.278963e+09,1.195801e+09,1.146741e+09,1.000343e+09,1.138038e+09,1.114059e+09,9.690731e+08,688871551.9,449200672.3,481077943.8,391047273.9,272461905.1,480395735.0,333538695.3,196596928.3,123539203.2,332098373.0,622824485.2,561132623.8,898717987.2,967381217.3,789596408.0,1.575563e+09,1.451135e+09,1.336057e+09,1.288433e+09,1.242814e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,26025000.0,488989444.6,526351469.0,2.975124e+08,199719013.5,168343383.4,155779136.5,3.001045e+08,2.796862e+08,1.930708e+08,1.148956e+08,3.369676e+08,1.457997e+08,1.469720e+08,1.680782e+08,1.073525e+08,7.566196e+07,1.571163e+08,1.640322e+08,8.801637e+07,7.393219e+07,53473634.1,43679298.3,23822537.5,21543187.2,15810561.3,17067179.6,16665189.3,16153752.9,16638692.9,14207927.7,9579117.5,9727435.4,8432930.3,22780392.8,16417395.3,1.629635e+07,1.668676e+07,1.654918e+07,1.653750e+07,1.696151e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5027781.3,47759040.0,85571531.2,802833702.3,978499160.9,1.000181e+09,811750196.0,864022316.2,923441464.1,1.166671e+09,1.139264e+09,1.022184e+09,1.294752e+09,1.539868e+09,1.416078e+09,1.413644e+09,1.447041e+09,1.303153e+09,1.222403e+09,1.157459e+09,1.302070e+09,1.202075e+09,1.043005e+09,742345186.0,492879970.6,504900481.3,412590461.1,288272466.4,497462914.6,350203884.6,212750681.2,140177896.1,346306300.7,632403602.7,570860059.2,907150917.5,990161610.1,806013803.3,1.591859e+09,1.467822e+09,1.352606e+09,1.304971e+09,1.259775e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43600000.0,41400000.0,2.001000e+08,256100000.0,264100000.0,233700000.0,1.564867e+08,7.024689e+07,2.923218e+07,6.891365e+06,0.000000e+00,2.161500e+08,2.815798e+08,3.759114e+08,4.608119e+08,4.372362e+08,3.852554e+08,4.071713e+08,3.829303e+08,2.939495e+08,274770190.4,294113118.7,316710730.0,309047437.0,125085422.6,128123730.4,134460312.0,129425807.6,542317089.1,528729079.6,527094857.9,520124286.6,519341900.0,486727497.2,463752752.4,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.399960e+07,1.328968e+07,12818646.0,13867104.0,15156894.0,15840702.0,14578554.0,15344880.0,16118550.0,15710754.0,426692113.1,419163645.2,417868073.7,418317168.9,419155660.0,394334303.1,377166763.0,4.551652e+08,4.821848e+08,4.708956e+08,4.681985e+08,4.876475e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
num.sample(10)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
31015,12502190.8,13832990.1,15751190.8,20037595.4,25283756.1,30896050.9,39022175.5,49656885.1,6.393999e+07,8.098979e+07,9.694088e+07,8.886066e+07,9.457750e+07,1.071805e+08,1.110142e+08,1.026928e+08,1.355040e+08,1.334918e+08,1.419320e+08,9.964461e+07,1.509614e+08,2.470586e+08,1.330549e+08,1.071725e+08,1.468123e+08,9.564604e+07,6.030203e+07,4.662291e+07,4.170369e+07,4.703377e+07,4.860779e+07,2.111247e+07,9.854403e+07,1.494299e+07,1.956829e+07,1.661846e+07,1.767068e+07,1.179342e+08,2.664760e+07,1.651488e+07,1.407570e+07,1.173170e+07,1.803125e+07,1.737003e+07,2.277228e+07,4.469496e+07,2.048769e+07,2.217130e+07,2.960337e+07,2.995299e+07,5.074408e+07,24326086.1,24058646.3,21657286.7,18259000.0,16759253.5,15262512.1,13447225.8,12214908.4
44488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63676,-845000.0,-800000.0,-804000.0,-1069000.0,-640000.0,-153000.0,569000.0,-127000.0,-1.260000e+05,-1.260000e+05,5.701800e+07,9.423900e+07,1.150590e+08,5.865000e+07,5.384800e+07,-7.178000e+06,-1.740500e+07,-6.736500e+07,-6.017800e+07,-4.404700e+07,2.999000e+07,7.026000e+07,-6.463000e+06,-9.942000e+06,1.376400e+07,3.611500e+07,5.586000e+06,8.208300e+07,8.785500e+07,-8.153300e+07,-4.741400e+07,-6.882400e+07,5.044200e+07,1.206250e+08,5.622200e+07,1.365820e+08,1.531480e+08,2.140370e+08,1.325560e+08,-1.075000e+08,9.230200e+07,2.601300e+07,2.167222e+09,4.880970e+08,-1.662964e+09,-1.614960e+08,-1.197200e+07,5.183270e+08,6.593930e+08,-3.030540e+08,1.809060e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58393,0.0,0.0,0.0,1363000.0,1834017.0,-255057.1,765215.9,-301928.9,-3.227433e+05,-3.181164e+05,-2.832317e+05,-2.531577e+05,-3.684113e+05,-1.197202e+05,-1.480895e+05,-7.316474e+05,-6.386554e+05,-8.275180e+04,-9.052340e+04,-8.258730e+04,-8.237900e+04,-7.992260e+04,-4.923844e+05,-2.947042e+05,-6.310991e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1650000.0,4.960000e+05,2.940000e+06,2.942200e+07,1.787500e+07,7.034000e+06,1.352200e+07,1.331800e+07,2.015400e+07,1.298300e+07,2.745600e+07,3.142400e+07,2.436800e+07,2.624100e+07,1.856800e+07,1.819600e+07,1.435500e+07,7.254000e+06,6.761000e+06,2.140300e+07,2.418700e+07,1.109100e+07,-3.098000e+06,9.650000e+06,1.247000e+06,5.730000e+06,1.853800e+07,2.764500e+07,1.254600e+07,4.231000e+06,9.211000e+06,9.000000e+04,-4.691000e+06,-5.140000e+06,4.012000e+06,-2.705000e+06,-4.890000e+05,-4.030000e+05,2.435400e+07,1.777000e+06,3.582500e+07,8.501300e+07,4.600500e+07,8.480200e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32242,5908000.0,33461000.0,73019000.0,155869000.0,243475000.0,427387000.0,717585000.0,983626000.0,1.190845e+09,1.440276e+09,1.833530e+09,2.251634e+09,2.868176e+09,3.475657e+09,3.902806e+09,5.311623e+09,6.978829e+09,9.651364e+09,1.074140e+10,1.190442e+10,1.428512e+10,1.599641e+10,1.642393e+10,1.782238e+10,1.916453e+10,2.001263e+10,1.724839e+10,1.579937e+10,1.789214e+10,1.973305e+10,1.990443e+10,1.937189e+10,1.943948e+10,1.976699e+10,1.917283e+10,1.851381e+10,1.824584e+10,1.861084e+10,1.996190e+10,2.105244e+10,2.256707e+10,2.284169e+10,2.307807e+10,2.286821e+10,2.272049e+10,2.522319e+10,2.749639e+10,2.836333e+10,3.009935e+10,3.144714e+10,3.407736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.246542e+05,3.176012e+05,4.913900e+05,7.423081e+06,3.339790e+06,6.846136e+06,8.171350e+06,1.148752e+07,7.489378e+06,8.851624e+06,8.452427e+06,2.325486e+07,2.046731e+07,2.771159e+07,3.077195e+07,4.133203e+07,3.847111e+07,4.058270e+07,5.141412e+07,5.053880e+07,5.357817e+07,5.386091e+07,5.683444e+07,5.817703e+07,5.552603e+07,7.291497e+07,6.216822e+07,6.545479e+07,6.857164e+07,6.871409e+07,86492318.4,90149068.7,96481328.5,95136978.8,85097796.8,87680382.3,79307204.2,70625620.4
62867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.500000e+06,1.742500e+07,2.312250e+08,2.898437e+08,2.188012e+08,3.056372e+07,5.699327e+08,5.440741e+08,-4.278518e+07,1.191222e+09,-4.339406e+08,-5.931094e+08,-6.144624e+08,-4.127040e+08,-1.544088e+09,4.476777e+08,-3.077344e+08,-4.591736e+08,5.390854e+09,-3.932233e+08,-4.216352e+08,-5.566873e+09,5.436016e+08,-7.159934e+09,-4.495324e+07,2.594095e+08,-1.299367e+08,-4.977680e+08,-1.876545e+08,1.650759e+09,5.727845e+08,3.122060e+09,1.434991e+09,1.120509e+09,4.657734e+08,1.956341e+09,5.895396e+08,4.153142e+09,1.796252e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
# Droping Some Columns

num.drop(['2023',	'2024',	'2025',	'2026',	'2027',	'2028'], axis=1, inplace=True)

In [57]:
num.head()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0

In [60]:
# Selecting Relevent Columns

data = df[['Country Name',	'Country Code', 'Series Name',	'Series Code']]

In [61]:
data.head()

,Country Name,Country Code,Series Name,Series Code
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT

In [62]:
# Summing All Numerical Columns

data['total'] = num.sum(axis=1)

<ipython-input-62-6701a6d2f639>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = num.sum(axis=1)

In [63]:
data.head()

,Country Name,Country Code,Series Name,Series Code,total
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,103.6971
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,103.6971
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0000
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392.1329
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392.1329

In [64]:
data.shape

(77384, 5)

In [81]:
data['total'] = data['total'].apply(lambda x: '{:,.0f}'.format(x))

<ipython-input-81-fd3db9794f88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = data['total'].apply(lambda x: '{:,.0f}'.format(x))

In [82]:
data.head()

,Country Name,Country Code,Series Name,Series Code,total
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392

In [83]:
data.tail()

,Country Name,Country Code,Series Name,Series Code,total
77379,Zimbabwe,ZWE,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,"33,404,043,110"
77380,Zimbabwe,ZWE,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,"4,656,223,138"
77381,Zimbabwe,ZWE,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,"38,060,266,247"
77382,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,"12,206,768,688"
77383,Zimbabwe,ZWE,"Use of IMF credit, SDR allocations (DOD, curre...",DT.DOD.DSDR.CD,"5,383,514,686"

In [84]:
data.sample(10)

,Country Name,Country Code,Series Name,Series Code,total
22692,Eswatini,SWZ,"PS, bilateral concessional (DOD, current US$)",DT.DOD.BLTC.PS.CD,"2,005,154,086"
71180,Turkmenistan,TKM,"CB, official creditors (DIS, current US$)",DT.DIS.OFFT.CB.CD,"27,617,000"
23573,Europe & Central Asia (excluding high income),ECA,"Net flows on external debt, private nonguarant...",DT.NFL.DPNG.CD,"772,311,200,000"
32288,Indonesia,IDN,"Principal repayments on external debt, public ...",DT.AMT.DPPG.CD,"299,428,053,342"
33094,Jamaica,JAM,"Currency composition of PPG debt, U.S. dollars...",DT.CUR.USDL.ZS,"3,338"
40415,Low income,LIC,"CB, bilateral (NFL, current US$)",DT.NFL.BLAT.CB.CD,"1,077,272,221"
30553,Honduras,HND,"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD,"412,081,555"
32851,"Iran, Islamic Rep.",IRN,"Principal repayments on external debt, general...",DT.AMT.DEGG.CD,"21,085,427,599"
52420,North Macedonia,MKD,"CB, private creditors (NFL, current US$)",DT.NFL.PRVT.CB.CD,0
35306,Kosovo,XKX,"CB, bonds (DOD, current US$)",DT.DOD.PBND.CB.CD,0

In [85]:
data['total'] = data['total'].str.replace(',','')

<ipython-input-85-8a54e7b103e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = data['total'].str.replace(',','')

In [86]:
data.sample(10)

,Country Name,Country Code,Series Name,Series Code,total
44612,Mauritius,MUS,"Net financial flows, bilateral (NFL, current US$)",DT.NFL.BLAT.CD,1071449993
43206,Maldives,MDV,"PS, multilateral concessional (NFL, current US$)",DT.NFL.MLTC.PS.CD,263834452
1417,Algeria,DZA,"OPS, commercial banks (AMT, current US$)",DT.AMT.PCBK.OPS.CD,15691447078
20892,"Egypt, Arab Rep.",EGY,"PPG, private creditors (TDS, current US$)",DT.TDS.PRVT.CD,32559161671
39048,Lesotho,LSO,"PPG, bonds (TDS, current US$)",DT.TDS.PBND.CD,0
55122,Paraguay,PRY,"PS, bilateral (TDS, current US$)",DT.TDS.BLAT.PS.CD,2583162498
2664,Argentina,ARG,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,73731930026
63900,St. Lucia,LCA,"GG, multilateral concessional (DIS, current US$)",DT.DIS.MLTC.GG.CD,170577561
27254,Grenada,GRD,"PS, bonds (NTR, current US$)",DT.NTR.PBND.PS.CD,9961453
28479,Guinea-Bissau,GNB,"CB, bonds (INT, current US$)",DT.INT.PBND.CB.CD,0

In [91]:
data['total'] = data['total'].astype(int)

<ipython-input-91-c21f86071d54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = data['total'].astype(int)

In [92]:
data.sample(10)

,Country Name,Country Code,Series Name,Series Code,total
34035,Jordan,JOR,"PRVG, multilateral concessional (AMT, current ...",DT.AMT.MLTC.PRVG.CD,0
34990,Kenya,KEN,"OPS, commercial banks (DOD, current US$)",DT.DOD.PCBK.OPS.CD,3243391558
16810,Costa Rica,CRI,"OPS, other private creditors (DOD, current US$)",DT.DOD.PROP.OPS.CD,1132680376
34866,Kenya,KEN,"GG, commercial banks (AMT, current US$)",DT.AMT.PCBK.GG.CD,5390543690
15643,"Congo, Dem. Rep.",COD,"OPS, commercial banks (DIS, current US$)",DT.DIS.PCBK.OPS.CD,234397440
67110,Tajikistan,TJK,"PS, official creditors (INT, current US$)",DT.INT.OFFT.PS.CD,593684858
64706,St. Vincent and the Grenadines,VCT,"Present value of debt (% of exports of goods, ...",DT.DOD.PVLX.EX.ZS,221
27018,Grenada,GRD,"OPS, bonds (INT, current US$)",DT.INT.PBND.OPS.CD,0
31900,Indonesia,IDN,"CB, commercial banks (INT, current US$)",DT.INT.PCBK.CB.CD,946913461
62104,South Africa,ZAF,"Currency composition of PPG debt, all other cu...",DT.CUR.OTHC.ZS,182

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77384 entries, 0 to 77383
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  77384 non-null  object
 1   Country Code  77384 non-null  object
 2   Series Name   77384 non-null  object
 3   Series Code   77384 non-null  object
 4   total         77384 non-null  int64
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

In [94]:
data.rename({'Country Name':'country_name','Country Code':'country_name','Series Name':'indicator_name', 'Series Code':'indicator_code','total':'debt'},axis=1, inplace=True)

<ipython-input-94-c79fd0d2f92c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename({'Country Name':'country_name','Country Code':'country_name','Series Name':'indicator_name', 'Series Code':'indicator_code','total':'debt'  },axis=1, inplace=True)

In [95]:
data.head()

,country_name,country_name,indicator_name,indicator_code,debt
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392

In [104]:
data.to_csv("cleaned_dataset.csv")

In [105]:
df = pd.read_csv("/content/cleaned_dataset.csv")

In [109]:
df = df.drop('Unnamed: 0', axis=1)

In [110]:
df.head()

,country_name,country_name.1,indicator_name,indicator_code,debt
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392

#### Removing Irrelavent Columns

Lower middle income                                   
Low income                                            
Low & middle income                                  
Upper middle income                                   
Sub-Saharan Africa (excluding high income)          
East Asia & Pacific (excluding high income)           
Least developed countries: UN classification         
Latin America & Caribbean (excluding high income)     
Europe & Central Asia (excluding high income)

In [ ]:
df.drop(['Lower middle income', 'Low income','Low & middle income','Upper middle income',
         'Sub-Saharan Africa (excluding high income)','East Asia & Pacific (excluding high income)','Least developed countries: UN classification',
         'Latin America & Caribbean (excluding high income)','Europe & Central Asia (excluding high income)'], axis=0, inplace=True)

In [ ]:
remove = ['Lower middle income', 'Low income', 'Low & middle income','Upper middle income', 
          'Sub-Saharan Africa (excluding high income)','East Asia & Pacific (excluding high income)',
          'Least developed countries: UN classification','Latin America & Caribbean (excluding high income)',
          'Europe & Central Asia (excluding high income)','Middle income']

df = df[~df['country_name'].isin(remove)]

In [111]:
df['country_name'].value_counts()

Afghanistan                                           569
Pakistan                                              569
Myanmar                                               569
Nepal                                                 569
Nicaragua                                             569
Niger                                                 569
Nigeria                                               569
North Macedonia                                       569
Panama                                                569
Albania                                               569
Papua New Guinea                                      569
Paraguay                                              569
Peru                                                  569
Philippines                                           569
Romania                                               569
Russian Federation                                    569
Mozambique                                            569
Morocco                                               569
Montenegro                                            569
Mongolia                                              569
Moldova                                               569
Middle income                                         569
Middle East & North Africa (excluding high income)    569
Mexico                                                569
Mauritius                                             569
Mauritania                                            569
Mali                                                  569
Maldives                                              569
Malawi                                                569
Madagascar                                            569
Lower middle income                                   569
Low income                                            569
Low & middle income                                   569
Rwanda                                                569
Samoa                                                 569
Sao Tome and Principe                                 569
Timor-Leste                                           569
Zambia                                                569
Yemen, Rep.                                           569
Vietnam                                               569
Venezuela, RB                                         569
Vanuatu                                               569
Uzbekistan                                            569
Upper middle income                                   569
Ukraine                                               569
Uganda                                                569
Turkmenistan                                          569
Turkey                                                569
Tunisia                                               569
Tonga                                                 569
Togo                                                  569
Thailand                                              569
Senegal                                               569
Tanzania                                              569
Tajikistan                                            569
Syrian Arab Republic                                  569
Sudan                                                 569
Sub-Saharan Africa (excluding high income)            569
St. Vincent and the Grenadines                        569
St. Lucia                                             569
Sri Lanka                                             569
South Asia                                            569
South Africa                                          569
Somalia                                               569
Solomon Islands                                       569
Sierra Leone                                          569
Serbia                                                569
Liberia                                               569
Lesotho                                               569
Lebanon                                               569
Burkina Faso                                          569
Djibouti                                              569
Cote d'Ivoire                                         569
Costa Rica                                            569
Congo, Rep.                                           569
Congo, Dem. Rep.                                      569
Comoros                                               569
Colombia                                              569
China                                                 569
Chad                                                  569
Central African Republic                              569
Cameroon                                              569
Cambodia                                              569
Cabo Verde                                            569
Burundi                                               569
Bulgaria                                              569
Dominican Republic                                    569
Brazil                                                569
Botswana                                              569
Bosnia and Herzegovina                                569
Bolivia                                               569
Bhutan                                                569
Benin                                                 569
Belize                                                569
Belarus                                               569
Bangladesh                                            569
Azerbaijan                                            569
Armenia                                               569
Argentina                                             569
Angola                                                569
Algeria                                               569
Dominica                                              569
East Asia & Pacific (excluding high income)           569
Least developed countries: UN classification          569
Guyana                                                569
Latin America & Caribbean (excluding high income)     569
Lao PDR                                               569
Kyrgyz Republic                                       569
Kosovo                                                569
Kenya                                                 569
Kazakhstan                                            569
Jordan                                                569
Jamaica                                               569
Iran, Islamic Rep.                                    569
Indonesia                                             569
India                                                 569
IDA only                                              569
Honduras                                              569
Haiti                                                 569
Guinea-Bissau                                         569
Ecuador                                               569
Guinea                                                569
Guatemala                                             569
Grenada                                               569
Ghana                                                 569
Georgia                                               569
Gambia, The                                           569
Gabon                                                 569
Fiji                                                  569
Europe & Central Asia (excluding high income)         569
Ethiopia                                              569
Eswatini                                              569
Eritrea                                               569
El Salvador                                           569
Egypt, Arab Rep.                                      569
Zimbabwe                                              569
Name: country_name, dtype: int64

In [153]:
df['country_name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Central African Republic', 'Chad',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia, The',
       'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'IDA only',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kyrgyz Republic', 'Lao PDR',
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi',
       'Maldives', 'Mali', 'Mauritania', 'Mauritius', 'Mexico',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Romania', 'Russian Federation',
       'Rwanda', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [154]:
df.to_csv('clean.csv')